# Server Port Configuration
PORT=3000

# Admin Credentials
ADMIN_ID=admin
ADMIN_PASSWORD=adminpassword

# Database Configuration (MongoDB Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio?retryWrites=true&w=majority

# JWT Token Secret for Secure Admin Authentication
JWT_SECRET=yoursecretjwttokenhere

# EmailJS Configuration for Contact Form
EMAILJS_SERVICE_ID=your_emailjs_service_id_here
EMAILJS_TEMPLATE_ID=your_emailjs_template_id_here
EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here
